
.caja{
	align-items: center;
	box-shadow: 0 0 0.3em rgba(0,0,0,0.5);
    display: flex;
    height: 400px;
    justify-content:space-around;
}
.caja .hijo1{
	background: pink;
	height: 200px;
	width: 200px;
}
.caja .hijo2{
	background: #20F6E4;
	height: 100px;
	width: 200px;
}
.caja .hijo3{
	align-self: flex-end;
	background: #F3580C;
	height: 260px;
	width: 200px;
}